[Desktop Entry]
Name=Thumbnail List
Comment=

Type=Service
X-KDE-ServiceTypes=KWin/WindowSwitcher

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

Icon=preferences-system-windows-switcher-big-icons
X-KDE-PluginInfo-Name=thumbnail_list
X-KDE-PluginInfo-Version=1
