#!/usr/bin/make -f
# -*- makefile -*-

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

ifeq ($(findstring mips64el, $(DEB_HOST_ARCH)), mips64el)
export DEB_CFLAGS_MAINT_APPEND := -falign-functions=64 -falign-jumps=64 -falign-labels=64 -falign-loops=64 -malign-llsc-target
export DEB_CPPFLAGS_MAINT_APPEND := -falign-functions=64 -falign-jumps=64 -falign-labels=64 -falign-loops=64 -malign-llsc-target
endif

l10npkgs_firstversion_ok := 4:4.14.0-2
include /usr/share/pkg-kde-tools/qt-kde-team/2/l10n-packages.mk

%:
	dh $@ --with kf5,pkgkde_symbolshelper --buildsystem kf5 --without build_stamp

override_dh_strip:
	dh_strip --dbgsym-migration='kwin-dbg (<= 4:5.5.5-1~~)'

override_dh_auto_test:
	# Disable auto tests at build time
	:

override_dh_gencontrol: l10npkgs_firstversion_ok
	dh_gencontrol
